@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-cyan: #1D70DE;
  --color-purple: #32065c;
  --color-destaque: #0C1524;
  --color-menu: #1252A7;
  --color-azul: #11053B;
  --color-lavanda: #E6E6FA;
  --font-montserrat: "Montserrat", "sans-serif";
}